@import "tailwindcss";

@theme {
  /*Colors*/
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

:root{
  --font: "Manrope", sans-serif;
}

*{
  font-family: var(--font);
}
.triangle {
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% 80%,100% 0,0 0);
}